<%- include('layout') %>

<section>
    <h2>Analytics for Short URL: <%= entry.shortId %></h2>
    <p>Total Clicks: <%= entry.visitHistory.length %></p>
    <ul>
        <% entry.visitHistory.forEach(visit => { %>
            <li><%= new Date(visit.timestamp).toLocaleString() %></li>
        <% }) %>
    </ul>
    <a href="/">Back to Home</a>
</section>
