<!DOCTYPE html>
<html>
<head>
    <title>URL Shortener</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <header>
        <h1>URL Shortener</h1>
    </header>
    <main>
        <%- body %>
    </main>
    <footer>
        &copy; 2023 URL Shortener
    </footer>
</body>
</html>
